.current-surah
  margin-left: 20%
  .surah-number
    color: rgba(255, 255, 255, 0.61)
    font-size: 55px
    margin: 0
    font-weight: 100
  .surah-name
    color: rgba(255, 255, 255, 0.9)
    font-size: 60px
    margin: 20px 0 10px
    font-weight: 100
