.player
  background-color: #116ECC
  position: fixed
  bottom: 0
  width: 100%
  transition: .3s linear
  &.home-player
    height: 12vh
    .group-control
      transition: .3s linear
      position: relative
      left: 50%
      top: 10%
      transform: translateX(-10%)
  &.blue
    height: 18vh
    .group-control
      transition: .3s linear
      left: 32%
  .group-control
    position: relative
    display: flex
    align-items: center
  span
    cursor: pointer
  .controls
    background-repeat: no-repeat
    background-size: 23px 17px
    height: 17px
    width: 23px
    display: block
    background-image: url('../../../static/control.svg')
  .next
    transform: rotate(180deg)
  .middle
    height: 50px
    width: 50px
    display: block
    margin: 0 20px
    &.pause
      background-image: url('../../../static/pause.svg')
    &.play
      background-image: url('../../../static/play-button.svg')
